body {
  font-family: Roboto, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* First section */

.hero {
  background-color: #1F2937;
  padding: 20px 200px 0;
} 

.header {
  display: flex;
  justify-content: space-between;
}

.hero_body {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
}

.hero_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

ul {
  display: flex;
  list-style-type: none;  
  padding: 0;
  margin: 0;
  gap: 20px;
}

a {
  text-decoration: none;
}

.header_logo {
  font-size: 24px;
  font-weight: 800;
  color: #F9FAF8;
}

.hero_main_text {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero_secondary_text, 
 a {
  font-size: 18px;
  color: #E5E7EB;
}

.hero_secondary_text {
  margin: 8px 0 55px;
}

button {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  font-weight: 700;
  border: none;
  border-radius: 8px;
  background-color: #3882F6;
  color: #F9FAF8;
  padding: 8px 32px;
}

/* Second section */

.section_two {
  text-align: center;
}

.title {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 50px 0;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.info {
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.box {
  height: 160px;
  width: 160px;
  border: 4px solid #3882F6;
  border-radius: 18px;
  margin-bottom: 10px;
}

.text {
  font-size: 18px;
  color: darkslategray;
  margin: 0 16px;
}

.section_three {
  min-height: 350px;
}